.center{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.text-align{
text-align: justify
}

.space-between{
justify-content: space-between;
}

.container{
    display: flex;
    flex-flow: row; 
    align-items: center;
}

.titulo{
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    text-align: center;
    margin: 0px;
    border: 0px;
    padding: 20px;
}

.subtitulo{
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    text-align: center;
    margin: 0px;
    border: 0px;
    padding: 20px;
}

.texto{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    border: 0px;
    padding: 20px;
}

.p-20{
    padding: 20px;
}

.tmsocial{
    width: 50px;
    height: 50px;
}

#menu li{
    display: inline;
    padding: 20px;

}

#menu li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

#menu li a:hover{
    color: blue;
}
